/* CSS Reset & Class Clear Float */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, nav  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav { display: block; }

body { line-height: 1; }

ul { list-style: none; }

.cf::after, .cf::before{
    display: table;
    content: " ";
}

.cf{ *zoom: 1; }

.cf::after{ clear: both; }


    

/* Start Styling */
body{
    font-family: 'Alata', sans-serif;
}

#MainContent {
    padding: 20px;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: teal;

    padding: 10px auto;
}

nav #Logo {
    flex: 2;

    margin-left: 2vw;
}

nav #NavigationMenu-Normal {
    flex: 15;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 10vw;
}

.NavigationMenu li{
    /* Space Bangsat */
    margin-top: -0.8vh;
}

.NavigationMenu li a {
    /* font-size: 1.4vw; */
    font-size: 18px;
    color: lightyellow;
    text-decoration: none;
}

.NavigationMenu li a:hover {
    text-decoration: underline;
}


/* Hide element, because only for mobile resolution */
    #NavigationMenu-Mobile {
        display: none;
    }

    #MenuToggle {
        display: none;
    }


/* Breakpoint Responsive */
    /* Mobile Landscape and Tablet Resolution*/
    @media screen and (max-width:768px){
        #NavigationMenu-Normal li a {
            /* font-size: 1.4vw; */
            font-size: 14px;
        } 


    }

    /* Mobile Portrait Resolution*/
    @media screen and (max-width:576px){
        nav {
            justify-content: center;
        }

        nav #NavigationMenu-Normal {
            display: none;
        }

        nav #Logo {
            flex: none;
            margin-left: 0;
            width: 25%;
        }


        #NavigationMenu-Mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: fixed;
            top: 0; right: 0;
            height: 100vh;
            background-color: rgb(0, 100, 100);
            flex: none;
            flex-direction: column;
            margin-left: 0;

            width: 0;
            opacity: 0;
            transition: all 1s;
        }

        #NavigationMenu-Mobile.Slide {
            opacity: 1;
            width: 50vw;
        }
        
        #MenuToggle {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 30%; right: 3vh;
            height: 40%;
            box-sizing: border-box;

            opacity: 1;
        }    

        #MenuToggle input {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        
        #MenuToggle img {
            content:url("./../src/Images/IC_NAV_Menu.png");
        }

        #MenuToggle input:checked ~ img{
            content:url("./../src/Images/IC_NAV_Close.png");        
        }
    }
